/* BASIC */
*{
    box-sizing: border-box;
    outline: none;
}



body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin: 0
}
.login-page .row{
    margin: 0;
}
.login-page .img-login img {
    width: 100%;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 50px  !important;
    width: 450px;
    max-width: 100%;
    margin: auto;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}
#formContent form{
    margin-bottom: 0;
}
#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}


input[type="text"]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder {
    color: #cccccc;
}


input[type="password"]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type="password"]:placeholder {
    color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 60%;
}

.form-control{
    height: 47px;
    background-color: #f3f4f7;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    margin: 0;
    padding: 6px 30px;
}
.bloc-formulaire-login .form-control {
    margin: 0;
    margin-bottom: 20px;
    height: 47px;
    background-color: #f3f4f7;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    text-align: center;
}
.bloc-formulaire-login .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.bloc-formulaire-login .btn-login{
    background-color: #1f8ced;
    border: 1px solid #1f8ced;
    height: 46px;
    padding: 6px 30px;
    color: #fff;
    font-size: 17px;
    letter-spacing: .5px;
    border-radius: 50px;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    min-width: 200px;
    cursor: pointer;
    margin-bottom: 0;
}
.bloc-formulaire-login .btn-login:hover{
    background-color: transparent;
    color: #1f8ced;
}
.navbar{
    background-color: #1f8ced;
}
.navbar .nav-link {
    color: #fff !important;
    text-transform: capitalize;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}
.navbar .nav-link:hover {
    color: #000 !important;
}
.navbar .navbar-brand{
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}
.main-content{
    display: grid;
    height: 75%;
    align-items: center;
}
.item-dashbord a{
    text-decoration: none;
    display: block;
    color: #fff;
    background-color: #1f8ced;
    border: 1px solid #1f8ced;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    padding: 40px 20px;
}

.item-dashbord .bloc-img-item-dash {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}
.item-dashbord .img-item-hover {
    position: absolute;
    left: 0;
    opacity: 0;
}
.item-dashbord img {
    height: 90px;
    display: inline-block;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}
.item-dashbord .card-body{
    padding: 0;
}
.item-dashbord .card-title{
    padding: 0;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    margin-bottom: 0;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .6px;
}
.item-dashbord a:hover{
    background-color: transparent;
}
.item-dashbord a:hover{
    background-color: transparent;
}
.item-dashbord a:hover .img-item-hover {
    opacity: 1;
}
.item-dashbord a:hover .img-item-def {
    opacity: 0;
}
.item-dashbord a:hover .card-title {
    color: #000;
}

.titre-page-default{
    text-transform: uppercase;
    font-weight: 600;
    color: #1f8ced;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 10px;
}
.titre-page-default:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 50px;
    background-color: #1f8ced;
}
.btn-default{
    display: inline-flex;
    align-items: center;
    background-color: #1f8ced;
    border: 1px solid #1f8ced;
    height: 46px;
    padding: 6px 30px;
    color: #fff;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: .5px;
    border-radius: 50px;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}
.btn-default:hover{
    background: transparent;
    color: #1f8ced;
}
.add-btn{
    background-color: #00B0A5;
    border: 1px solid #00B0A5;
}
.add-btn:hover{
    color: #00B0A5;
    background-color: transparent;
}
.header-top-search{
    justify-content: space-between;
}
.header-top-search .bloc-form-search{
    margin-bottom: 0;
}
.header-top-search .bloc-form-search form{
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.header-top-search .bloc-form-search .form-control{
    margin: 0;
    height: 46px;
    margin: 0;
    float: left;
    border: 0;
}
.header-top-search .bloc-form-search .btn-default{
    margin-left: 10px;
}
.header-top-search .btn-default, .top-btn-add{
    border-radius: 50px;
}
.table-defaults{
    margin-top: 50px;
    border-radius: 50px;
    margin-left: 10px;
}
.table-defaults thead td{
    font-weight: 600;
}
.table-defaults tbody td {
    border: 0;
    vertical-align: middle;
}
.table-defaults{
    margin-bottom: 0;
    text-align: right;
}
.table-defaults .btn-default{
    height: 34px;
    width: 34px;
    padding: 6px 5px;
    font-size: 14px;
    line-height: 22px;
    border-radius: 50%;
    justify-content: center;
}
.table-defaults .btn-supp{
    background-color: #dc3545;
    border: 1px solid #dc3545;
}
.table-defaults .btn-supp:hover{
    background-color: transparent;
    color: #dc3545;
}
.content-page-form {
    padding: 60px 0;
}
.bloc-formulaire-page{
    padding-top: 30px;
}
.content-page-form .titre-page-form{
    text-align: center;
    font-weight: 600;
    color: #1f8ced;
    font-size: 35px;
    margin-bottom: 40px;
}
.custom-file{
    width: auto;
    text-align: left;
    border: 1px solid #F2F2F2;
    height: 47px;
    display: inline-flex;
    align-items: center;
    padding: 6px 15px;
}
.bloc-btn-page-form{
    text-align: right;
    padding: 30px 0;
}
.bloc-btn-page-form .btn-default{
    text-align: center;
}
.select-bloc select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance:    none;
}
.select-bloc::before{
    content: "\f107";
    position: absolute;
    top: 12px;
    right: 40px;
    z-index: 1;
    pointer-events: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}